
.AdminCashierList__table-content-item th{
    text-align: left;
    padding: 13px 5px 13px;
    background-color: #767c63;
    color: #fff;
    text-transform: uppercase;
}


.AdminCashierList__table-content-item td {
    text-align: left;
    padding: 10px 5px 5px;
    border-bottom: 1px solid #ddd;
}

.AdminCashierList__table-content-item th:nth-child(1), 
.AdminCashierList__table-content-item td:nth-child(1) {
    width: 11%;
    text-align: center;
}

.AdminCashierList__table-content-item th:nth-child(2), 
.AdminCashierList__table-content-item td:nth-child(2) {
    width: 14%;
}


.AdminCashierList__table-content-item th:nth-child(3), 
.AdminCashierList__table-content-item td:nth-child(3) {
    width: 20%;
}

.AdminCashierList__table-content-item th:nth-child(4), 
.AdminCashierList__table-content-item td:nth-child(4) {
    width: 12%;
    text-align: center;
}

.AdminCashierList__table-content-item th:nth-child(5), 
.AdminCashierList__table-content-item td:nth-child(5) {
    text-align: center;
    width: 12%;
}


.AdminCashierList__table-content-item th:nth-child(6), 
.AdminCashierList__table-content-item td:nth-child(6) {
    text-align: center;
    width: 10%;
}



.AdminCashierList__table-data-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #767c63;
}


.AdminCashierList__table-data-btn{
    padding: 5px 15px;
    background-color: #565b48;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
}



.AdminCashierList__table-data-btn:active{
    opacity: 0.8;
}
