.AdminItemList__main-content{
    display: flex;
    height: 100vh;
    padding: 30px;
    gap: 20px;
}

/* Sidebar */
.AdminItemList__sidebar {
    width: 370px;
    background-color: #f5f5f0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
}



.AdminItemList__branding{
    display: flex;
    align-items: center;
    
}

.AdminItemList__logo {
    width: 70px;
    height: auto;
}

.AdminItemList__system-name {
    display: flex;
    flex-direction: column;
    color: #656D4A;
    /* background-color: #555; */
    border-left: 4px solid #656D4A;
    padding: 5px 0px 7px 10px;
}

.AdminItemList__title {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

.AdminItemList__subtitle {
    font-size: 13px;
    color: #555;
    margin: 0;
}



.AdminItemList__nav {
    /* background-color: #555; */
    margin-top: 30px;
}

.AdminItemList__nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 13px;
    width: 100%;
    background: none;
    border: none;
    padding: 20px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    color: #414833;
    margin-bottom: 2px;
    transition: background-color 0.2s ease, color 0.2s ease;
}


.AdminItemList__nav a img{
    width: 27px;
}

.AdminItemList__nav a:first-child img{
    width: 22px;
}


.AdminItemList__nav a.active {
    background-color: #c7c8ad;
    font-weight: bold;
}

.AdminItemList__nav a:not(.active):hover {
    background-color: #e4e4d4;
    color: #333;
}



/* logout section */
.AdminItemList__logout-container{
    flex: 1;
    display: flex;
    align-items: end;
}

.AdminItemList__logout {
    width: 100%;
    background-color: #5e6343;
    color: white;
    border: none;
    padding: 11px 10px 11px 5px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 17px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.AdminItemList__logout img{
    width: 20px;
}


.AdminItemList__logout:active {
    opacity: 0.8;
    transform: scale(0.98); 
}








/* content section */
.AdminItemList__content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #ffffff86;
    padding: 30px 40px;
    border-radius: 20px;
}



/* Table */
.AdminItemList__table {
    /* background-color: rgb(179, 83, 83); */
    background-color: white;
    padding: 20px 30px;
    border-radius: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}


.AdminItemList__header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 8px;
}

.AdminItemList__header-container h3{
    font-size: 27px;
    color: #5e6343;
    text-transform: uppercase;
    flex: 1;
}


.AdminItemList__header-search-container{
    /* background-color: #bbdb53; */
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    flex: 1.5;
}
.AdminItemList__search-content{
    width: 45%;
    position: relative;
}

.AdminItemList__search-content input{
    width: 100%;
    padding: 8px 15px 8px 35px;
    border: 2px solid #656D4A;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
    color: #414833;
    font-family: "poppins", "san serif", Arial, Helvetica, sans-serif;
}

.AdminItemList__search-content input:focus{
    outline: none;
}

.AdminItemList__search-content img{
    width: 18px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 4%;
}

.AdminItemList__search-content span{
    width: 2px;
    height: 26px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7.5%;
    background-color: #b9b9b9c3;
    /* border-right: 2px solid #a9a9a9; */
    display: none;
}

#openModalBtn{
    background-color: #5e6343;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    width: 9rem;
}

.AdminItemList__excel-btn:active,
#openModalBtn:active{
    opacity: 0.8;
    transform: scale(0.95); 
}


.AdminItemList__excel-btn{
    border: 2px solid #5e6343;
    background: #5e6343;
    padding: 7px 6px;
    border-radius:  7px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.AdminItemList__excel-btn img{
    width: 23px;
}

.AdminItemList__excel-btn:hover{
    transform: scale(1.03); 
}



.AdminItemList__table table {
    width: 100%;
    border-collapse: collapse;
}

.AdminItemList__table-content-item th{
    text-align: left;
    padding: 13px;
    background-color: #767c63;
    color: #fff;
    text-transform: uppercase;
}


.AdminItemList__table-content-item td {
    text-align: left;
    padding: 10px;
    text-transform:capitalize;
    border-bottom: 1px solid #ddd;
}

.AdminItemList__table-content-item th:nth-child(1), 
.AdminItemList__table-content-item td:nth-child(1) {
    width: 25%;
    padding-left: 23px;
}

.item-with-image {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.item-image {
    width: 35px;
    height: 35px;
    object-fit: cover;
    border-radius: 50%; 
    border: 2px solid #a8a8a8;
}


.AdminItemList__table-content-item th:nth-child(2), 
.AdminItemList__table-content-item td:nth-child(2) {
    width: 10%;
}


.AdminItemList__table-content-item th:nth-child(3), 
.AdminItemList__table-content-item td:nth-child(3) {
    text-align: center;
    width: 14%;
}

.AdminItemList__table-content-item th:nth-child(4), 
.AdminItemList__table-content-item td:nth-child(4) {
    width: 17%;
}

.AdminItemList__table-content-item th:nth-child(5), 
.AdminItemList__table-content-item td:nth-child(5) {
    text-align: center;
    width: 15%;
}

.AdminItemList__table-content-item th:nth-child(6), 
.AdminItemList__table-content-item td:nth-child(6) {
    width: 10%;
}

.no-data-message {
    text-align: center;
    font-size: 18px;
    color: #888888ae;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* button table */
.AdminItemList__table-btn{
    display: flex;
    align-items: center;
    gap: 10px;
}

.AdminItemList__table-edit-data-btn{
    background-color: #d5cece;
    border: 1.5px solid rgba(68, 68, 68, 0.5);
    border-radius: 5px;
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.AdminItemList__table-edit-icon-btn{
    width: 25px;
    height: 25px;
}



.AdminItemList__table-delete-data-btn{
    background-color: rgb(214, 77, 77);
    border: 1.5px solid rgba(68, 68, 68, 0.5);
    border-radius: 5px;
    border: none;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.AdminItemList__table-delete-icon-btn{
    width: 26px;
    height: 26px;
}


.AdminItemList__table-delete-data-btn:active,
.AdminItemList__table-edit-data-btn:active{
    opacity: 0.8;
    transform: scale(0.95); 
}






/* pagination */
.AdminItemList__pagination-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    /* background-color: #c7c8ad; */
    margin-top: auto;
    display: none;
}

.AdminItemList__pagination-number{
    font-size: 17px;
}

.AdminItemList__pagination-right,
.AdminItemList__pagination-left{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    padding: 3px 30px;
    background-color: #c7c8ad;
}

.AdminItemList__pagination-left img{
    width: 25px;
}


.AdminItemList__pagination-right img{
    width: 25px;
    transform: rotate(180deg);
}

.AdminItemList__pagination-right:active,
.AdminItemList__pagination-left:active{
    opacity: 0.8;
    transform: scale(0.95); 
}


.AdminItemList__pagination-left:disabled,
.AdminItemList__pagination-right:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}





/* modal content */
.AdminItemList__modal-form-container{
    display: flex;
}

.AdminItemList__modal-left{
    flex: 1;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #c7c8ad; */
    position: relative;
}


.AdminItemList__modal-item-image-div {
    width: 150px;
    height: 150px;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 10px;
}

.item-image-icon {
    width: 180px;
    height: 180px;
    border: 2px solid rgb(141, 141, 141);
    border-radius: 7px;
    object-fit: cover;
    margin-bottom: 20px;
}

.AdminItemList__modal-select-image-btn img{
    width: 20px;
}

.AdminItemList__modal-select-image-btn {
    padding: 10px 20px;
    color: #fff;
    background-color: #656D4A;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    max-width: 190px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: background-color 1s, color 1s;
}


.AdminItemList__modal-select-image-btn:active{
    opacity: 0.8;
    transform: scale(0.95); 
}


.error-image-message{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 76%;
    color: red;
    font-size: 13px;
    font-weight: 600;
    /* display: none; */
}





/* right section of modal */
.AdminItemList__modal-right{
    flex: 2;
    padding:50px 20px 50px 0;
    /* background-color: #c7c8ad; */
}


.AdminItemList__modal-form-group {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    position: relative;
}

.AdminItemList__modal-form-group label {
    flex: 1;
    font-size: 16px;
    color: #555;
    font-weight: 600;
    margin-bottom: 5px;
}

.AdminItemList__modal-form-group input[type="text"] {
    width: 65%;
    padding: 8px 15px;
    border: 2px solid #656D4A;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #414833;
    font-family: "poppins", "san serif", Arial, Helvetica, sans-serif;
}





/* items groups */
.AdminItemList__modal-items-group{
    border: 2px solid #5a5a5ac6;
    background-color: #eeeeeec6;
    padding: 10px;
    height: 10rem;
    border-radius: 10px;
    display: flex;
    gap: 10px;
}



.AdminItemList__modal-item-price-container{
    /* background-color: #8d8d8d; */
    padding: 7px 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.AdminItemList__modal-item-price-container p{
    font-size: 16px;
    color: #555;
    font-weight: 600;
    margin-bottom: 13px;
    text-transform: uppercase;
}


.AdminItemList__modal-item-price-container input[type="text"] {
    width: 80%;
    padding: 6px 15px;
    border: 2px solid #656D4A;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 600;
    color: #414833;
    text-align: center;
    font-family: "poppins", "san serif", Arial, Helvetica, sans-serif;
}

.AdminItemList__modal-item-price-container input[type="text"]:last-of-type {
  margin-top: 15px;
}




/* Custom select styling */
.custom-select-container {
    position: relative;
    width: 65%;
}

.custom-select-trigger {
    width: 100%;
    padding: 10px 15px;
    font-size: 15px;
    font-weight: 600;
    color: #414833;
    border: 2px solid #656D4A;
    border-radius: 4px;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.custom-select-trigger img{
    position: absolute;
    right: 4%;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
}

.custom-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 2px;
    max-height: 250px;
    overflow-y: auto;
    z-index: 100;
    display: none;
}

.custom-option {
    padding: 12px 15px;
    cursor: pointer;
    background-color: #5e6937;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.custom-option:hover {
    background-color: #4A5036;
}


.custom-edit-option {
    padding: 12px 15px;
    cursor: pointer;
    background-color: #5e6937;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.custom-edit-option:hover {
    background-color: #4A5036;
}


/* Show options when container is active */
.custom-select-container.active .custom-options {
    display: block;
}

.custom-select-container.active .custom-select-trigger img {
    transform: translateY(-50%) rotate(180deg);
}

/* error category */
.category-error-message{
    position: absolute;
    right: 1%;
    top: -40%;
    color: red;
    font-size: 13px;
    font-weight: 600;
    display: none;
}



/* optional message */
.AdminItemList__optional-message{
    position: absolute;
    bottom: 34%;
    left: 13%;
    color: #8d8d8d;
    font-size: 10px;
    font-style: italic;
}


/* button group */
.modal-footer-container{
    border-top: 2px solid #aaa;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: auto;
}


.AdminItemList__modal-cancel-button{
    background-color: #c4c4c4;
    padding: 11px;
    width: 160px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #676767;
    cursor: pointer;
}

.AdminItemList__modal-save-button{
    background-color: #5e6343;
    padding: 11px;
    width: 160px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

}

.AdminItemList__modal-cancel-button:active,
.AdminItemList__modal-save-button:active{
    opacity: 0.8;
    transform: scale(0.95); 
}






/* delete modal */

.AdminItemList__modal-delete-content {
    background-color: #fff;
    padding: 30px 30px 40px;
    border-radius: 30px;
    width: 100%;
    max-width: 500px;
    min-height: 320px;
    position: relative;
}

.AdminItemList__modal-delete-header-container{
    border-bottom: 2px solid #aaa;
    padding-bottom: 15px;
    text-align: center;
}


/* Close button */
.AdminItemList__modal-delete-header-container h3 {
    font-size: 26px;
    color: #5e6343;
}


.AdminItemList__modal-delete-first-p{
    text-align: center;
    margin-top: 35px;
}


.AdminItemList__modal-delete-second-p{
    text-align: center;
    padding: 0 40px;
    margin-bottom: 20px;
}

/* .AdminItemList__modal-delete-item-name{
    text-align: center;
    font-weight: 600;    
    margin-bottom: 50px;
    display: flex;
    align-items: center;
} */

/* .AdminItemList__modal-span-item-name{
    flex: 1;
    text-align: end;
    padding-right: 20px;
} */
.AdminItemList__modal-span-item-name{
    text-align: center;
    font-weight: 600;    
    margin-bottom: 50px;
}

/* .AdminItemList__modal-item-name-div{
    flex: 1;
    text-align: start;
} */

#deleteItemName{
    padding: 3px 8px;
    color: #fff;
    background-color: #656D4A;
    border-radius: 5px;
    font-size: 15px;
}



.AdminItemList__modal-delete-button-inner-group{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    padding: 0 20px;
}


.AdminItemList__modal-delete-cancel-pass-button{
    background-color: #c4c4c4;
    padding: 11px;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #676767;
    cursor: pointer;
}


.AdminItemList__modal-delete-confirm-pass-button{
    background-color: #9a4848;
    padding: 11px;
    width: 100%;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.AdminItemList__modal-delete-cancel-pass-button:active,
.AdminItemList__modal-delete-confirm-pass-button:active{
    opacity: 0.8;
    transform: scale(0.95); 
}




/* Error export modal */

.ErrorPayment__modal-content{
    background-color: #fff;
    padding: 23px 30px 30px;
    border-radius: 20px;
    width: 100%;
    max-width: 500px;
    /* min-height: 250px; */
    position: relative;
}


.ErrorPayment__modal-content-header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #a53f3f;
    font-size: 23px;
    padding-bottom: 15px;
    border-bottom: 2px solid #8a8a8a;
}

.ErrorPayment__modal-content-header-container .error-icon {
    width: 26px;
    display: block; 
}

.ErrorPayment__modal-content-header-container .success-icon {
    width: 35px;
    display: none;
}

.ErrorPayment__modal-p{
    padding: 40px 30px;
    text-align: center;
    color: #414833;
    font-weight: 500;
}

.ErrorPayment__modal-button-group{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}


.ErrorPayment__modal-cancel-button{
    background-color: #c4c4c4;
    padding: 11px;
    width: 34%;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    color: #676767;
    cursor: pointer;
}



.ErrorPayment__modal-cancel-button:active{
    opacity: 0.8;
    transform: scale(0.95); 
}
