.AdminTransactionRecords__table-content-item th{
    text-align: left;
    padding: 13px 5px 13px;
    background-color: #767c63;
    color: #fff;
    text-transform: uppercase;
}


.AdminTransactionRecords__table-content-item td {
    text-align: left;
    padding: 18px 5px 14px;
    font-size: 15px;
    border-bottom: 1px solid #ddd;
}

.AdminTransactionRecords__table-content-item th:nth-child(1), 
.AdminTransactionRecords__table-content-item td:nth-child(1) {
    width: 28%;
    padding-left: 20px;
}

.AdminTransactionRecords__table-content-item th:nth-child(2), 
.AdminTransactionRecords__table-content-item td:nth-child(2) {
    width: 15%;
}


.AdminTransactionRecords__table-content-item th:nth-child(3), 
.AdminTransactionRecords__table-content-item td:nth-child(3) {
    width: 8%;
    text-align: center;
}

.AdminTransactionRecords__table-content-item th:nth-child(4), 
.AdminTransactionRecords__table-content-item td:nth-child(4) {
    width: 8%;
    text-align: center;
}

.AdminTransactionRecords__table-content-item th:nth-child(5), 
.AdminTransactionRecords__table-content-item td:nth-child(5) {
    text-align: center;
    width: 10;
}

.AdminTransactionRecords__table-content-item th:nth-child(6), 
.AdminTransactionRecords__table-content-item td:nth-child(6) {
    text-align: center;
    width: 10%;
}


.AdminTransactionRecords__table-content-item th:nth-child(7), 
.AdminTransactionRecords__table-content-item td:nth-child(7) {
    text-align: center;
    width: 15%;
}



/* */

.AdminTransactionRecords__item-image{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%; 
    border: 2px solid #a8a8a8;
}

.AdminTransactionRecord__table-data-btn{
    padding: 6px 15px;
    background-color: #565b48;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
}

.AdminTransactionRecord__table-data-btn:active{
    opacity: 0.8;
    transform: scale(0.95); 
}


.AdminTransactionRecord__item-with-references{
    /* background-color: #a8a8a8; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

.AdminTransactionRecord__item-reference-number{
    font-size: 9px;
    background-color: #535a3c;
    padding: 5px 10px 4px 12px;
    border-radius: 5px;
    color: #fdfff4;
    position: relative;
}

.AdminTransactionRecord__item-reference-number::before {
    content: "REFNO. ";
    font-weight: 500;
    font-size: 4px;
    color: #edf3da;
    margin-right: 5px;
    position: absolute;
    top: 5%;
    left: 4%;
}












/* modal content */
.AdminTransactionRecord__modal-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.AdminTransactionRecord__modal-form-container{
    display: flex;
    gap: 16px;
    padding: 20px 0;
}

.AdminTransactionRecord__relative-modal{
    position: relative;
}

.AdminTransactionRecord__modal-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    align-items: center;
    justify-content: start;
    background-color: #d9d9d96f;
    border-radius: 20px;
    position: relative;
}

.AdminTransactionRecord__item-image-icon {
    width: 210px;
    height: 210px;
    border: 4px solid #50553f;
    border-radius: 15px;
    object-fit: cover;
}


.AdminTransactionRecord__id-time-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #4b4b4b; */
    width: 100%;
}


.AdminTransactionRecord__details-id-time-list{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 4px;
}

.AdminTransactionRecord__detail-id-time-name{
    font-weight: bold;
    color: #565b48;
    font-size: 15px;
}


.AdminTransactionRecord__detail-id-time-value{
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    background-color: #63694d;
    padding: 2px 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.AdminTransactionRecord__created-at{
    font-size: 13px;
    /* background-color: #535a3c; */
    /* padding: 10px 16px ; */
    border-radius: 5px;
    color: #747474;
}


/* right section of modal */
.AdminTransactionRecord__modal-right{
    flex: 1.8;
    padding: 15px 10px;
    /* background-color: #c7c8ad; */
    height: 24rem;
}

.AdminTransactionRecord__details-list:first-child{
    display: flex;
    align-items: center;
    margin-bottom: 19px;
}

.AdminTransactionRecord__details-list{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.AdminTransactionRecord__detail-name{
    font-weight: bold;
    color: #565b48;
    font-size: 20px;
    flex: 0.7;
}

.AdminTransactionRecord__item-with-image{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1.1;
}

.AdminTransactionRecords__modal-item-image{
    width: 39px;
    height: 39px;
    object-fit: cover;
    border-radius: 50%; 
    border: 2px solid #a8a8a8;
}

.AdminTransactionRecord__item-with-image span{
    font-size: 19px;
    font-weight: 500;
    color: #4b4b4b;
}

.AdminTransactionRecord__detail-value{
    font-size: 19px;
    font-weight: 500;
    color: #4b4b4b;
    flex: 1.05;
    display: flex;
    align-items: center;
}

.AdminTransactionRecord__reference-number{
    font-size: 13px;
    margin-left: 20px;
    background-color: #535a3c;
    padding: 10px 16px 6px;
    border-radius: 5px;
    color: #fdfff4;
    position: relative;
}

.AdminTransactionRecord__reference-number::before {
    content: "REFNO. ";
    font-weight: 500;
    font-size: 7px;
    color: #edf3da;
    margin-right: 5px;
    position: absolute;
    top: 5%;
    left: 4%;
}

/* button group */
.AdminTransactionRecord__modal-footer-container{
    border-top: 2px solid #aaa;
    padding-top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    position: absolute;
    bottom: 4.5%;
    left: 5%;
    right: 5%;
}


.AdminTransactionRecord__modal-cancel-button{
    background-color: #c4c4c4;
    padding: 11px;
    width: 160px;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    color: #676767;
    cursor: pointer;
    transition: background-color 0.7s ease-in-out;
}


.AdminTransactionRecord__modal-cancel-button:hover{
    background-color: #bababa;
}

.AdminTransactionRecord__modal-cancel-button:active{
    opacity: 0.8;
    transform: scale(0.95); 
}
