.AdminLogin__main-content{
    display: flex;
    height: 100vh;
    padding: 40px;
}

/* left section */
.AdminLogin__left-container{
    flex: 1.05;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px 40px;
}

.AdminLogin__branding{
    display: flex;
    align-items: center;
    
}

.AdminLogin__logo {
    width: 90px;
    height: auto;
}

.AdminLogin__system-name {
    display: flex;
    flex-direction: column;
    color: #656D4A;
    /* background-color: #555; */
    border-left: 4px solid #656D4A;
    padding: 5px 20px 7px;
}

.AdminLogin__title {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.AdminLogin__subtitle {
    font-size: 16px;
    color: #555;
    margin: 0;
}



/* header */
.AdminLogin__form-container{
    background-color: #eeeeeec6;
    padding: 30px 60px 30px;
    border-radius: 20px;
    /* box-shadow:
    0 4px 6px rgba(0, 0, 0, 0.1),
    0 10px 20px rgba(0, 0, 0, 0.1); */

}

.AdminLogin__form-container p{
    color: #656D4A;
    font-weight: 600;
    margin-bottom: 2px;
    text-transform: uppercase;

}

.AdminLogin__form-container h2 {
    color: #656D4A;
    font-size: 32px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

.AdminLogin__desc{
    margin-bottom: 50px;
    font-size: 20px;
    color: #555;
}

/* form */
.AdminLogin__form{
    /* background-color: #6a6a6a */
    width: 93%;
    margin-left: 20px;
}

.AdminLogin__input-group{
    position: relative;
    margin-bottom: 30px;
}

.margin-none{
    margin-bottom: 15px;
}

.AdminLogin__input-group input {
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 20px 15px 15px 62px;
    background-color: #e9e7e7c4;
    border: none;
    border-bottom: 2px solid #656D4A;
    font-family: "Poppins", sans-serif;
}
  
.AdminLogin__input-group label {
    position: absolute;
    left: 60px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
    font-size: 16px;
    transition: 0.3s;
}

.AdminLogin__username-icon {
    width: 35px;
    position: absolute;
    left: 17px;
    top: 50%;
    transform: translateY(-50%);
}

.AdminLogin__password-icon {
    width: 29px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(47deg) scaleX(-1);
}

  
.AdminLogin__input-group input:focus + label,
.AdminLogin__input-group input:not(:placeholder-shown) + label {
    top: 2px;
    font-size: 13px;
    color: #6a6a6a;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 5px;
    padding: 2px 5px;
}

input:focus {
    background-color: #fff;
    border-bottom: 2px solid #f7f7f7;
}
 

.AdminLogin__eye-icon{
    width: 25px;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* forgot pass */
.AdminLogin__forgot-password {
    color: #656D4A;
    text-decoration: none;
    display: block;
    margin-bottom: 20px;
    font-size: 14px;
    text-align: end;
    cursor: pointer;
    /* background-color: #333; */
}

.AdminLogin__forgot-password:hover{
    text-decoration: underline;
}

.AdminLogin__forgot-password:active{
    opacity: 0.8;
}

/* login btn */
.AdminLogin__home-button {
    width: 100%;
    padding: 15px;
    background-color: #656D4A;
    color: white;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}
  
.AdminLogin__home-button:hover {
    background-color: #4f5539;
}

.AdminLogin__home-button:active {
    opacity: 0.8;
    transform: scale(0.98); 
}


/* login btn */
.AdminLogin__type-button {
    width: 100%;
    padding: 15px;
    background-color: #fff;
    color: #656D4A;
    border: 3px solid #656D4A;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 20px 0 0px;
    text-transform: uppercase;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}
  
.AdminLogin__type-button:hover {
    background-color: #656D4A;
    color: #fff;
}

.AdminLogin__type-button:active {
    opacity: 0.8;
    transform: scale(0.98); 
}



/* right section */
.AdminLogin__right-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.AdminLogin__right-container img{
    width: 80%;
    max-width: 750px;
    /* animation: floatUpDown 4s ease-in-out infinite; */
}



.AdminLogin__redirect-text {
    text-align: center;
    margin-top: 5px;
    font-size: 13px;
    color: #333;
    opacity: 0;
    pointer-events: none;
}

.AdminLogin__register-link {
    color: #656D4A;
    font-weight: 500;
    text-decoration: underline;
}



.error-message{
    position: absolute;
    right: 1%;
    top: -33%;
    color: red;
    font-size: 13px;
    font-weight: 600;
    /* display: none; */
}



/* modal */
 .AdminLogin__modal-forgot-content {
    background-color: white;
    padding: 35px 35px 20px;
    border-radius: 8px;
    width: 500px;
    max-width: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
}

/* Close button */
.AdminLogin__modal-close {
    position: absolute;
    top: 14px;
    right: 25px;
    font-size: 30px;
    cursor: pointer;
    color: #777;
}


/* Step indicator */
.AdminLogin__modal-step-indicator {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.AdminLogin__modal-step {
    width: 28%;
    height: 6px;
    background-color: #ddd;
    margin: 0 5px;
    border-radius: 4px;
    transition: all 0.3s;
}

.AdminLogin__modal-step.active {
    background-color: #4CAF50;
    width: 28%;
}

.AdminLogin__modal-step.completed {
    background-color: #4CAF50;
}


/* content */
.AdminLogin__modal-title {
    margin-top: 0;
    color: #4f5539;
    font-size: 27px;
    text-align: center;
}

.AdminLogin__modal-description{
    color: #333;
    font-size: 14px;
    text-align: center;
    margin: 15px 0 35px;
}

.AdminLogin__modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.AdminLogin__modal-input-group{
    position: relative;
    margin-bottom: 20px;
    width: 90%;
}

#requestOtpForm{
    margin-bottom: 20px;
}

.AdminLogin__modal-input-group input {
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    padding: 13px 15px 15px 40px;
    background-color: #e9e7e7c4;
    border: 2px solid #656D4A;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}
  
.AdminLogin__modal-input-group label {
    position: absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    color: #999;
    font-size: 16px;
    transition: 0.3s;
}


.AdminLogin__modal-input-group input:focus + label,
.AdminLogin__modal-input-group input:not(:placeholder-shown) + label {
    top: 2px;
    font-size: 13px;
    color: #6a6a6a;
    background-color: rgb(255, 255, 255);
    font-weight: 500;
    border-radius: 5px;
    padding: 2px 5px;
}

input:focus {
    background-color: #fff;
    border-bottom: 2px solid #f7f7f7;
}


/* send otp btn */
.AdminLogin__modal-send-otp-button {
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #656D4A;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}
  
.AdminLogin__modal-send-otp-button:hover {
    background-color: #4f5539;
}

.AdminLogin__modal-send-otp-button:active {
    opacity: 0.8;
    transform: scale(0.98); 
}



.AdminLogin__modal-error-message {
    color: #f44336;
    position: absolute;
    font-size: 14px;
    top: -35%;
    right: 2%;
    display: none;
}




/* step 2 */
.AdminLogin__modal-verify-description{
    color: #333;
    font-size: 14px;
    text-align: center;
    margin: 15px 0 5px;
}

.AdminLogin__modal-otp-timer {
    text-align: center;
    color: #555;
    font-size: 0.9rem;
    margin: 10px 0 10px;
}

#otpTimer{
    font-weight: bold;
}

.AdminLogin__resend-button {
    background-color: #656D4A;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
    display: none;
}

.AdminLogin__resend-button:hover {
    background-color: #656D4A;
}

.AdminLogin__resend-button:disabled {
    border-color: #cccccc;
    color: #cccccc;
    cursor: not-allowed;
}



/* OTP input styling */
.AdminLogin__modal-otp-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px;
    gap: 5px;
    width: 100%;
    position: relative;
}

.AdminLogin__modal-otp-container input {
    width: 100%;
    box-sizing: border-box;
    font-size: 15px;
    background-color: #e9e7e7c4;
    border: 2px solid #656D4A;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}
  

.AdminLogin__modal-otp-input {
    width: 20px;
    height: 50px;
    text-align: center;
    font-size: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 0 2px;
}

.AdminLogin__modal-otp-input:focus {
    border-color: #4CAF50;
    outline: none;
}


.AdminLogin__modal-error-otp-message {
    color: #f44336;
    position: absolute;
    font-size: 13px;
    top: -40%;
    right: 2%;
    display: none;
}


/* Email display */
.email-display {
    text-align: center;
    margin-bottom: 15px;
    font-size: 0.9rem;
    color: #555;
}

#emailDisplay {
    font-weight: bold;
}



.AdminLogin__modal-space-top{
    margin-top: 30px;
}

/* password requirements */
.CashierRegister__password-requirements{
    margin: 0 0 18px;
    padding: 8px;
    border-radius: 5px;
    background-color: #7272721c;
    width: 90%;
}

.CashierRegister__password-requirements p {
    font-size: 11px;
    font-weight: bold;
    color: #565252;
    margin: 0;
}

.CashierRegister__password-requirements ul{
    margin: 0;
    margin-bottom: 10px;
    padding:2px 0px;
    list-style: none;
}
  
.CashierRegister__password-requirements li{
    font-size: 10px;
    font-weight: 500;
    color: #565252;
    margin: 0;
}

.wrong{
    color: red;
    font-weight: bolder;
    font-size: 1.2em;
    margin-right: 3px;
}
  
.check{
    color: rgb(9, 185, 9);
    font-weight: bolder;
    font-size: 1.2em;
    margin-right: 3px;
}



/* Reset pass btn */
.AdminLogin__reset-pass-button {
    width: 90%;
    padding: 15px;
    background-color: #656D4A;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 1s ease-in-out, color 1s ease-in-out;
}
  
.AdminLogin__reset-pass-button:hover {
    background-color: #4f5539;
}

.AdminLogin__reset-pass-button:active {
    opacity: 0.8;
    transform: scale(0.98); 
}


.AdminLogin__back-button{
    margin-top: 20px;
    font-size: 15px;
    border: none;
    background-color: white;
    color: #848484;
    cursor: pointer;
    padding: 2px 10px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.AdminLogin__back-button img{
    width: 20px;
}


.AdminLogin__modal-send-otp-button:disabled,
.AdminLogin__reset-pass-button:disabled,
.AdminLogin__resend-button:disabled {
    background-color: #a5a5a5;
    color: #e0e0e0;
    cursor: not-allowed;    
}



/* Success step */
.AdminLogin__modal-reset-success-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px 20px;
}

.AdminLogin__modal-success-icon {
    width: 70px;
    height: 70px;
    margin-bottom: 10px;
}

.AdminLogin__success-message {
    text-align: center;
    margin: 20px 10px 40px;
    color: #555;
}

